<!-- Site footer -->
<footer class="footer">
    <span class="span_l">
        &copy; 2017 Sid, Inc.
    </span>
    <span class="span_r">
       <%= link_to "About", pages_about_path, id: "ab" %>
    </span>
</footer>